{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-flow"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-flow"
      ]
    }
  }
}
